[Desktop Entry]
Type=Application
Name=Catppuccin-Desktop
NoDisplay=true
Comment=Catppuccin Desktop
Exec=catppuccin-desktop-init
X-GNOME-WMName=Catppuccin-Desktop
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
